<settings>

    <setting propertyKey="@Properties.Line1" title="@Strings.line_1">
        <settingConfig type="list">
            <listEntry value="0">@Strings.empty</listEntry>
            <listEntry value="1">@Strings.date</listEntry>
            <listEntry value="2">@Strings.time</listEntry>
            <listEntry value="3">@Strings.battery</listEntry>
            <listEntry value="5">@Strings.steps</listEntry>
            <listEntry value="6">@Strings.distance</listEntry>
            <listEntry value="7">@Strings.hr</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.Line2" title="@Strings.line_2">
        <settingConfig type="list">
            <listEntry value="0">@Strings.empty</listEntry>
            <listEntry value="1">@Strings.date</listEntry>
            <listEntry value="2">@Strings.time</listEntry>
            <listEntry value="3">@Strings.battery</listEntry>
            <listEntry value="5">@Strings.steps</listEntry>
            <listEntry value="6">@Strings.distance</listEntry>
            <listEntry value="7">@Strings.hr</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.Line3" title="@Strings.line_3">
        <settingConfig type="list">
            <listEntry value="0">@Strings.empty</listEntry>
            <listEntry value="1">@Strings.date</listEntry>
            <listEntry value="2">@Strings.time</listEntry>
            <listEntry value="3">@Strings.battery</listEntry>
            <listEntry value="5">@Strings.steps</listEntry>
            <listEntry value="6">@Strings.distance</listEntry>
            <listEntry value="7">@Strings.hr</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.Line4" title="@Strings.line_4">
        <settingConfig type="list">
            <listEntry value="0">@Strings.empty</listEntry>
            <listEntry value="1">@Strings.date</listEntry>
            <listEntry value="2">@Strings.time</listEntry>
            <listEntry value="3">@Strings.battery</listEntry>
            <listEntry value="5">@Strings.steps</listEntry>
            <listEntry value="6">@Strings.distance</listEntry>
            <listEntry value="7">@Strings.hr</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.Line5" title="@Strings.line_5">
        <settingConfig type="list">
            <listEntry value="0">@Strings.empty</listEntry>
            <listEntry value="1">@Strings.date</listEntry>
            <listEntry value="2">@Strings.time</listEntry>
            <listEntry value="3">@Strings.battery</listEntry>
            <listEntry value="5">@Strings.steps</listEntry>
            <listEntry value="6">@Strings.distance</listEntry>
            <listEntry value="7">@Strings.hr</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.Line6" title="@Strings.line_6">
        <settingConfig type="list">
            <listEntry value="0">@Strings.empty</listEntry>
            <listEntry value="1">@Strings.date</listEntry>
            <listEntry value="2">@Strings.time</listEntry>
            <listEntry value="3">@Strings.battery</listEntry>
            <listEntry value="5">@Strings.steps</listEntry>
            <listEntry value="6">@Strings.distance</listEntry>
            <listEntry value="7">@Strings.hr</listEntry>
        </settingConfig>
    </setting>

        <setting propertyKey="@Properties.Line7" title="@Strings.line_7">
        <settingConfig type="list">
            <listEntry value="0">@Strings.empty</listEntry>
            <listEntry value="1">@Strings.date</listEntry>
            <listEntry value="2">@Strings.time</listEntry>
            <listEntry value="3">@Strings.battery</listEntry>
            <listEntry value="5">@Strings.steps</listEntry>
            <listEntry value="6">@Strings.distance</listEntry>
            <listEntry value="7">@Strings.hr</listEntry>
        </settingConfig>
    </setting>

        <setting propertyKey="@Properties.Line8" title="@Strings.line_8">
        <settingConfig type="list">
            <listEntry value="0">@Strings.empty</listEntry>
            <listEntry value="1">@Strings.date</listEntry>
            <listEntry value="2">@Strings.time</listEntry>
            <listEntry value="3">@Strings.battery</listEntry>
            <listEntry value="5">@Strings.steps</listEntry>
            <listEntry value="6">@Strings.distance</listEntry>
            <listEntry value="7">@Strings.hr</listEntry>
        </settingConfig>
    </setting>

        <setting propertyKey="@Properties.Line9" title="@Strings.line_9">
        <settingConfig type="list">
            <listEntry value="0">@Strings.empty</listEntry>
            <listEntry value="1">@Strings.date</listEntry>
            <listEntry value="2">@Strings.time</listEntry>
            <listEntry value="3">@Strings.battery</listEntry>
            <listEntry value="5">@Strings.steps</listEntry>
            <listEntry value="6">@Strings.distance</listEntry>
            <listEntry value="7">@Strings.hr</listEntry>
        </settingConfig>
    </setting>

        <setting propertyKey="@Properties.Line10" title="@Strings.line_10">
        <settingConfig type="list">
            <listEntry value="0">@Strings.empty</listEntry>
            <listEntry value="1">@Strings.date</listEntry>
            <listEntry value="2">@Strings.time</listEntry>
            <listEntry value="3">@Strings.battery</listEntry>
            <listEntry value="5">@Strings.steps</listEntry>
            <listEntry value="6">@Strings.distance</listEntry>
            <listEntry value="7">@Strings.hr</listEntry>
        </settingConfig>
    </setting>

</settings>
